<h1>Bookshelf</h1>
<hr/>
<ul>
  <li><%= link_to 'Books', books_path %></li>
  <li><%= link_to 'Authors', authors_path %></li>
  <li><%= link_to 'Genres', genres_path %></li>
  <li><%= link_to 'Reports', pdf_reports_path %></li>
  <li><%= link_to 'Import Text List', imports_path %></li>
</ul>
