<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= 'Author'.pluralize(@book.authors.count) %>:</strong>
  <%= @book.authors.map(&:name).to_sentence %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre_id.nil? ? 'None' : @book.genre.description %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
